<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
  <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css” />
    <style>body{
        text-align: center;
    }

  .progress {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .navbar-nav .nav-item .nav-link {
            padding-right: 1.5rem;
        }

        .nav-link{
            font-size: 26px;
        }
  .status {
    color: rgb(143, 18, 18);
    margin: auto;
  }

  .status h2 {
    padding: 50px;
    font-size: 80px;
    font-weight: bold;
  }</style>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demandes</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex flex-row justify-content-center border-0">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 20px;" href="./index.html">
        <div class="d-flex align-items-end">
        StageScrap       
      </div>
    </a>
        <div class="w-100">
            
            <div class="navbar-collapse  " id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <ul class="navbar-nav mx-auto  mb-lg-0">
                        <li class="nav-item  ">
                        <a class="nav-link" href="/demandes" role="button" aria-expanded="false">
                            Stagiares.ma
                        </a>
                                
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/demandesMA" role="button" aria-expanded="false">
                            MarocAnnonces.ma
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#" role="button">
                            site.ma
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" role="button">
                            site.ma
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" role="button" aria-expanded="false">
                            site.ma
                            </a>
                        </li>                    
                    </ul> 
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-dark btn-lg mt-5" style="width: 200px;"data-toggle="modal" data-target="#loginModal">
                Mon Compte
            </button>
        </div>
   </div>
</nav>
<hr class="hr hr-blurry" />

    <h2 class=" fw-bold d-flex justify-content-center ml-5 mb-4 mt-4" style="font-size: 28px;">Demandes</h2>
    <div class="container-fluid">
      <div class="row-fluid">
            <div class="d-flex justify-content-center">
                <form action ="/downloadCsv" method="post" class="form mx-4" style="width: 100px;">
                  <input type="submit" class="btn btn-success btn-lg" value="Exporter.csv">
                </form>
                <form action ="/downloadXlsx" method="post"style="width: 100px;" class="form ml-4">
                  <input type="submit" class="btn btn-lg btn-success" value="Exporter.xlsx">
                </form>
             </div>
             <span class="input-group rounded justify-content-end">
              <input type="input-group search" id="searchBar" class="rounded" placeholder="Search" aria-label="Search" style="width: 300px;" aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>              </span>
            </span>
      </div>
      
     
  </div>
<br>
    <table class="table table-bordered table-striped">
      <thead>       
        <th>Date de debut</th>
        <th>Niveau</th>
        <th>Ecole</th>
        <th>Secteur</th>
        <th>Lieu</th>
        <th>Lien</th>
      </thead>
        <tbody id="tableBody">
        {% for demande in demandes %}
        <tr><td>{{ demande['Date de debut'] }}</td>
            <td>{{ demande['Niveau'] }}</td>
            <td>{{ demande['Ecole'] }}</td>
            <td>{{ demande['Secteur'] }}</td>
        <td>{{ demande['Lieu'] }}</td>
        <td><a href='{{ demande['Lien'] }}' class="btn btn-primary">Annonce</a></td>
    </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
      $(document).ready(function(){
        $("#searchBar").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#tableBody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
</body>
</html>